*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d4f55;
    margin-left: 7%;
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d4f55;
    margin-left: 10%;
    margin-bottom: 1em;
}

fieldset {
    border: 0; 
}

body{
    background-color: 	#f0f8ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #446d6c;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #446d6c;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #99d4d9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #f0f8ff;
}

.botao {
    font-size: 1.2em;
    background: #f0f8ff;
    border: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #446d6c;
    padding: 0.2em 0.6em;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    position:fixed;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover {
    background: #99d4d9;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

#check {
    display: inline;
}